@model List<Models.DataModel>

<div class="text-center">
    <h1>@ViewBag.TableName</h1>
</div>

<table class="table" border="1" aria-live="assertive">


    <thead>
        <tr>
            @foreach (var item in Model)
            {
                <th>
                    @item.Name
                </th>
            }
        </tr>
    </thead>

    <tbody>
        <tr>
            @foreach (var data in Model)
            {
                <td>
                    @data
                </td>
            }
        </tr>
    </tbody>

</table>