@using System.Data
@model System.Data.DataSet

<div class="text-center">
	<h1>@ViewBag.TableName</h1>
</div>

@if (Model.Tables.Count > 0)
{
	<table class="table" border="1" aria-live="assertive">
		<thead>
			<tr>
				@foreach (DataColumn item in Model.Tables[0].Columns)
				{
					<th>
						@item.ColumnName
					</th>
				}
			</tr>
		</thead>

		<tbody>
			@foreach (DataRow rowData in Model.Tables[0].Rows)
			{
				<tr>
					@foreach (var data in rowData.ItemArray)
					{
						<td>@data</td>
					}
				</tr>
			}
		</tbody>

	</table>
}
